<template>
  <div class="flex-container">
    <div class="col search-form">
      <div class="flex-container">
        <div class="col">
          <form class="embed-submit-field" v-on:submit="findByGivenLocation">
            <input type="text" v-model="myLocation" id="search" placeholder="Location" class="embed-submit-field">
            <button type="submit"> <i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
      <div class="flex-container">
        <div class="col find-me">
          <p class="find-me">use my <span @click="findByMyLocation"  class="dotted">current location</span></p>
          <!--use my <button @click="findByMyLocation" id="find-me" class="dotted"> current location</button>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'search',
    data () {
      return {
        myLocation: '',
      }
    },
    methods: {
      findByGivenLocation(event){
         event.preventDefault();
         this.$store.dispatch('getByGivenLocation', {location: this.myLocation});
         this.$router.push('/show');

      },
      findByMyLocation(){
          this.$router.push('/show');
          return this.$store.dispatch('getByMyGeolocation');
      }

    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .search-form {
    padding-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .dotted{
    border-bottom: 1px dashed #999;
    text-decoration: none;
    cursor: pointer;
  }
  .dotted:hover{
    color: #fe806a;
  }

  .find-me{
    color: #000;
  }


  input[type=text] {
    border: none;
    border-bottom: 1px solid #4B6772;;
    text-align: center;
    font-size: 1.5em;
  }

  .embed-submit-field {
    position: relative;
    font-size: 20px;
  }

  .embed-submit-field input {
    width: 100%;
    padding: 15px;
  }

  .embed-submit-field button {
    position: absolute;
    right: 10px;
    top: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    transition: all .2s;
    font-size: 25px;
  }

  .embed-submit-field button:hover {
    /*background-color: #37C88D;*/
    color: #fe806a;
    cursor: pointer;
  }

</style>
