<template>
  <div>
    <div class="flex-container">
      <div class="col left">
        <h2 class="col"> <router-link to="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></router-link> {{dataForGivenLocation.city.name}}</h2>
      </div>
      <div class="col right">
        <label class="switch">
          <input type="checkbox" @click="toFtoC" id="togBtn">
          <div class="slider round">
            <span class="on">&#8451;</span>
            <span class="off">&#8457;</span>
          </div>
        </label>
      </div>
    </div>
    <div class="flex-container">
      <div class="col left">
        <h2>{{todaysDate}}</h2>
        <h3> {{dataForCurrTime.weather[0].description | uppercase}}</h3>
      </div>
    </div>
    <div class="flex-container orange">
      <div class="col">
        <h1 class="hourely-temp">
          {{dataForCurrTime.main.temp}} <span v-html="symbol"></span>
        </h1>
      </div>
      <div class="col main-cloud">
        <template v-if="dataForCurrTime.weather[0].main.toLowerCase() === 'clouds'">
          <i :class="{['wi wi-'+ daysAndNightsShits + 'cloudy' ]: true}"></i>
        </template>
        <template v-if="dataForCurrTime.weather[0].main.toLowerCase() === 'clear' && daysAndNightsShits ==='day-' ">
          <i :class="{['wi wi-'+ daysAndNightsShits + 'sunny' ]: true}"></i>
        </template>
        <template v-if="dataForCurrTime.weather[0].main.toLowerCase() === 'clear' && daysAndNightsShits ==='night-' ">
          <i :class="{['wi wi-'+ daysAndNightsShits + 'clear' ]: true}"></i>
        </template>
        <i :class="{['wi wi-'+ daysAndNightsShits +  dataForCurrTime.weather[0].main.toLowerCase() ]: true}"></i>
      </div>
      <div class="col">
        <table>
        <template v-for="(value,key) in dataForGivenLocation.list[0].temp">
          <template v-if="(key !=='min') && (key !=='max')">
              <tr>
                <td class="left">{{key | uppercase }} </td>
                <td>        </td>
                <td class="right"> {{value}} <span v-html="symbol"></span></td>
              </tr>
          </template>
        </template>
        </table>
      </div>
    </div>
    <div class="flex-container">
      <template v-for="(item, index) in dataForGivenLocation.list">
        <div class="col">
          <p> {{getDays(index)}}</p>
          <p class="icon">
            <template v-if="item.weather[0].main.toLowerCase() === 'clear'">
              <i :class="{ ['wi wi-day-sunny']: true }"></i>
            </template>
            <template v-if="item.weather[0].main.toLowerCase() === 'clouds'">
              <i :class="{ ['wi wi-day-cloudy']: true }"></i>
            </template>
            <i :class="{ ['wi wi-day-'+ item.weather[0].main.toLowerCase()]: true }"></i>
          </p>
          <p>{{item.temp.day}}<span v-html="symbol"></span></p>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
  import saveState from 'vue-save-state';
  import _ from 'lodash';

  export default {
    name: 'show',
    data(){
        return({
          temperatureUnit:this.$store.state.temperatureUnit
        });
    },
    computed:{
      dataForGivenLocation(){
        return this.$store.getters.toCtoF.generalForecast;
      },
      dataForCurrTime(){
        return this.$store.getters.toCtoF.hourlyForecast;
      },
      symbol(){
        if(this.temperatureUnit === true)
              return '&#8457;'; //degree F
        return '&#8451;'// degree c
      },
      todaysDate(){
        let dt = new Date(Date.now());
        return dt.toDateString();
      },
      daysAndNightsShits(){
        var currentTime = new Date();
        var hours = currentTime.getHours();

        if (hours < 6 || hours >= 18)
          return 'night-';

        if(hours >= 6 && hours < 18)
          return 'day-';
      }

    },
    methods:{
        getDays(date){
          let today = new Date();
          today = today.setDate(today.getDate() + date);
          today = new Date(today).getDay();
          const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
          return days[today];
        },
      toFtoC(){
        this.temperatureUnit = !this.temperatureUnit;
        this.$store.commit({
          type:'toCtoF',
          temperatureUnit: this.temperatureUnit
        });
      },
    },
    created(){
//      let storedState = localStorage.getItem('state');
//      storedState = JSON.parse(storedState);
//      let hourly = this.$store.getters.toCtoF.hourlyForecast;
//      let daily = this.$store.getters.toCtoF.generalForecast;
//      if(_.isEmpty(hourly) && _.isEmpty(daily)){
//        setTimeout( () => this.$store.commit({type:'changeState', storedState}), 100);
//      }
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .hourely-temp{
    font-size: 80px;
  }

  .orange{
    color:  #C76060;
  }

  .main-cloud{
    font-size: 80px;
  }
  .right{
    text-align: right;
  }
  .left{
    text-align: left;
  }
  .icon{
    font-size: 40px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    color: #000;
    border-color: #4B6772;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C76060;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #4B6772;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }

  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }

  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }

  input:checked+ .slider .on
  {display: block;}

  input:checked + .slider .off
  {display: none;}

  /*--------- END --------*/

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;}

</style>
