<template>
  <div id="app">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" id="loading" v-show="this.$store.state.loading === true"></i>
    <template v-show="!loading">
      <router-view v-show="this.$store.state.loading === false" ></router-view>
    </template>
  </div>
</template>

<script>
  import Search from './components/Search';
  import  Show from './components/Show';
  import 'weather-icons/css/weather-icons.css'

  export default {
    name: 'app',
    components:{
        Search,
        Show
    },
  }
</script>

<style lang="scss" rel="stylesheet/scss">
html {
  height: 100%;
}

body {
  height: auto;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background: #fe806a; !* Old browsers *!*/
  background: -moz-linear-gradient(top, #fe806a 0%, #ff8f69 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fe806a 0%, #ff8f69 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fe806a 0%, #ff8f69 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe806a', endColorstr='#ff8f69', GradientType=0); /* IE6-9 */
}

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #4B6772;
  margin: 60px 10% auto 10%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 650px;
}

.flex-container{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2px 5px;
  justify-content: space-between;
}

.col{
  margin: 3px;
  padding: 1px;
  flex-grow: 1;
}

#loading {
  margin: 230px;
}

.debug{
  background: orange;
}
</style>
